<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><u>Projekat</u></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><b><h3>Dobrodošli na početnu stranicu!</h3></b></p>
    <p>Ova stranica omogućava osnovne funkcionalnosti nad podacima za tabele:</p>
    <ul>
      <li>Proizvod</li>
      <li>Proizvođač</li>
      <li>Račun</li>
      <li>Stavka računa</li>
    </ul>
    <p>
      Za svaku klasu moguće je izlistati sve podatke, sortirati podatke po nekom atributu,
      pretražiti podatke po vrednosti nekog atributa, modifikovati već postojeće podatke, dodati nove elemente i
      obrisati već postojeće.
    </p>
    <p>
      Za frontend deo je korišten Angular, dok je backend deo rađen u Spring-u. Za bazu je korištena postgres baza podataka.
    </p>
  </mat-card-content>
</mat-card>
