<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2><u>O nama</u></h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <b>Fakultet:</b> Fakultet tehničkih nauka
    </p>
    <p>
      <b>Smer:</b> inženjerstvo informacionih sistema
    </p>
    <p>
      <b>Predmet:</b> razvoj višeslojnih operacija
    </p>
    <p>
      <b>Godina rada:</b> 2021.
    </p>
    <p>
      <b>Student:</b> Davor Jelić
    </p>
    <p>
      <b>Godina studija:</b> 3.
    </p>
  </mat-card-content>
</mat-card>

